:root {
    --bg-opacity: 0;
}

[data-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(data-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: .25em;
}

body {
    font-family: Consolas, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

.offscreen {
    position: absolute;
    top: -1000px;
    left: 0px;
}

img {
    transition: all 2.5s;
}

img#blender {
    height: 67vh;
    width: auto;
}

body {
    transition: background-color 10s;
}

body::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: var(--bg-opacity);
    transition: opacity 5s;
    background-image: url('assets/rave-bg.gif');
    background-position: 50% 0;
    background-size: cover;
}

.initial-hide {
    opacity: 0;
    transition: opacity 2.5s;
}

h1#welcome {
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: xx-large;
}

div#lid-label {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

form#init-form {
    position: absolute;
    top: 600px;
}

div#orders-panel, div#history-panel {
    background-color: bisque;
    border: inset rgb(173, 132, 82) 8px;
    border-radius: 5px;
    padding: 10px;
}

div#orders-panel {
    position: absolute;
    top: 1%;
    left: 0;
    width: 32.5%;
    margin-left: 1%;
}

div#history-panel {
    margin-top: 5vh;
    width: 100%;
}

div#control-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;

    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
}

span#new-ingredient {
    cursor: pointer;
}

.ingredient-entry {
    pointer-events: none;
}

.ingredient-entry::before {
    content: "âŒ";
    pointer-events: all;
}

div#control-buttons button {
    margin: 2%;
    font-size: large;
    font-family: Consolas, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: inset 3.5px rgb(173, 132, 82);
    background-color: rgb(243, 208, 164);
}

.small-b {
    position: relative;
    display: inline;
    width: min(14vw, 369px);
    height: 3.5vh;
}

.large-b {
    position: relative;
    width: min(20vw, 369px);
    height: 5vh;
}

button.broken-btn::before {
    position: absolute;
    content: ' ';
    z-index: 4;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/x.png');
    background-position: 50% 0;
    background-size: 100% 100%;
}

button.broken-btn {
    pointer-events: none;
}

div#right-wrapper {
    position: absolute;
    top: 1%;
    right: 0;
    width: 35%;
    margin-right: 3%;
}

div#status-panel {
    width: 100%;
    background-color: bisque;
    border: inset rgb(173, 132, 82) 8px;
    border-radius: 5px;
    padding: 10px;
}

div.specs:nth-of-type(1) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    column-gap: 10px;
}

div.specs:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    column-gap: 10px;
}

div.specs > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

div.specs:nth-of-type(1) > div > span {
    color: grey;
}

div#voltage-div {
    position: relative;
    top: 2vh;

}